* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 50px;
    background-color: #eaeaea;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fafafa;
    border-radius: 4px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .15) !important;
}

main #content {
    padding: 20px;
}

.content-option {
    float: right;
}

.content-option button {
    font-size: large;
    padding: 0;
}

.account-header,
.comment-header {
    display: flex;
}

.account-photo {
    display: block;
}

.account-photo img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 60px;
}

.account-detail {
    font-size: large;
    margin: auto 10px;
    flex-basis: 100%;
}

.account-name {
    margin: 0 auto;
}

.post-time {
    margin: 5px auto;
    color: #6c757d;
    font-size: small;
}

.account-detail a {
    text-decoration: none;
}

.account-post {
    margin: 30px auto 10px auto;
}

.account-post img {
    width: 100%;
}

.btn {
    padding: 0 10px 0 0;
    border: none;
    background: none;
    cursor: pointer;
}

#comment {
    background-color: #f5f5f5;
}

#comment #content {
    padding: 20px;
}

.comment-count {
    font-size: small;
}

.comment-container {
    display: block;
    margin: 30px 0;
}

.comment-photo {
    display: block;
}

.comment-photo img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 45px;
}

.comment-detail {
    font-size: small;
    margin: 0 10px;
}

.comment-name {
    font-weight: bold;
    margin: 5px auto;
}

.comment-time {
    margin: 5px auto;
    color: #6c757d;
    font-size: small;
    font-weight: normal;
}

.comment-text {
    margin: 0 auto;
}

.comment-interaction {
    margin: 10px 0;
}

.reply {
    color: blue;
}

.comment-form {
    margin: 20px 0;
    display: flex;
}

.comment-field {
    margin: 0 10px;
    flex-basis: 100%;
}

.comment-field textarea {
    padding: 7px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.comment-field input[type=submit] {
    padding: 10px;
    margin: 7px 0;
    border-radius: 4px;
    border: 0;
    background-color: #039be6;
    color: #fff;
    cursor: pointer;
}